/** Add css rules here for your application. */
button {
  display: block;
  font-size: 16pt
}

.widePanel {
  width: 100%
}

img {
  margin-top: 0px;
}
.RTFbox {
background-color:white;
color:black;
}